:root {
    --primary: #b2c1d4;
    --secondary: #5f718b;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--primary);
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans", sans-serif;
    color: var(--dark);
    line-height: 1.5;
    font-size: 16px;
}

h1, h2, h3 {
    font-weight: 700;
    margin: 0;
    color: var(--secondary);
    line-height: 1.25;
}

main {
    margin: 20px auto;
    width: 94%;
}

p {
    color: var(--secondary);
}

.hero {
    text-align: center;
    padding: 3% 4%;
    background-color: var(--secondary);
    color: var(--primary);
}

.hero p {
    max-width: 75%;
}

.app-title {
    font-size: 3rem;
    background-color: var(--primary);
    color: var(--secondary);
    padding: 0 10px;
    display: inline-block;
    border-radius: 5px;
}

.search {
    text-align: center;
}

.card {
    border: 2px solid var(--secondary);
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
}

#search-input {
    width: 60%;
}

